@page "/participants"
@inject HttpClient Http
@using ConferenceFrontend.Models


<h3>Список участников</h3>

@if (participants == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Место работы</th>
                <th>Роль</th>
                <th>Контактная информация</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var participant in participants)
            {
                <tr>
                    <td>@participant.FullName</td>
                    <td>@participant.Workplace</td>
                    <td>@participant.Role</td>
                    <td>@participant.ContactInfo</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Participant>? participants;

    protected override async Task OnInitializedAsync()
    {
        participants = await Http.GetFromJsonAsync<List<Participant>>("https://localhost:5001/api/participants");
    }
}
