<div class="top-row ps-3 navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ConferenceFrontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill me-2"></span>
                Home
            </NavLink>
        </div>
        <!-- Новые страницы -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/participants">
                <span class="bi bi-person-fill me-2"></span>
                Список участников
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/register-participant">
                <span class="bi bi-person-plus-fill me-2"></span>
                Регистрация участника
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
